<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6">
  <div class="container-fluid bg-grey">
    <h2>CONTACT</h2>
    <div class="hr">&nbsp;</div>
    <div class="row line-row">
      <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="col-sm-7">
      <form id="data4" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id = name name="name" placeholder="Name" type="text" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id = email name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id =  mobile name="mobile" placeholder="Mobile" type="number" required>
            </div>
          </div>

          <textarea class="form-control" id = comments name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <!--<button class="btn btn-default pull-right" type="submit">Send</button>-->
              <%#= submit_tag 'Save' %>
              <button type="submit" id = submit class="btn btn-default pull-right">
                Submit</button>
            </div>
          </div>
      </form>
    </div>
    <div class="col-sm-5" style="text-align:left;font-size:20px;padding-top:30px">
      <p>Tamilarasan C</p>
      <p>Software Engineer </p>
      <p>Kreatio Software Solutions</p>
      <p>Bangalore - 560 068</p>
      <p>Contact-no - 08553823081</p>
      <p>Email- tamizharasan.c123@gmail.com</p>
    </div>
  </div>
</div>
